PORT=5001
DATABASE_URL=mysql://user:password@host:port/dbname?ssl-mode=REQUIRED
JWT_SECRET=your_jwt_access_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
OPENROUTER_API_KEY=your_openrouter_api_key
EMAILJS_SERVICE_ID=your_emailjs_service_id
EMAILJS_TEMPLATE_ID=your_emailjs_template_id
EMAILJS_PUBLIC_KEY=your_emailjs_public_key
EMAILJS_PRIVATE_KEY=your_emailjs_private_key
CLIENT_URL=http://localhost:5173
